<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/blackbird-tech/stark/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="artdrozdov" />
            <add key="ClearTextPassword" value="c4c134ff213c03d1c98a52165791fe1013ba7b0c" />
        </github>
    </packageSourceCredentials>
</configuration>